
.minBtn
{
	upSkin: Embed(source='style/images/min.png');
	over-skin:Embed(source='style/images/min.png');
	down-skin:Embed(source='style/images/min.png');
}
.maxBtn
{
	upSkin: Embed(source='style/images/max.png');
	over-skin:Embed(source='style/images/max.png');
	down-skin:Embed(source='style/images/max.png');
}
.newlibBtn
{
	upSkin: Embed(source='style/images/newlib.png');
	over-skin:Embed(source='style/images/newlib.png');
	down-skin:Embed(source='style/images/newlib.png');
}
.closeBtn
{
	upSkin: Embed(source='style/images/close.png');
	over-skin:Embed(source='style/images/close.png');
	down-skin:Embed(source='style/images/close.png');
}
.editBtn
{
	upSkin: Embed(source='style/images/edit.png');
	over-skin:Embed(source='style/images/edit.png');
	down-skin:Embed(source='style/images/edit.png');
}
.rcloseBtn
{
	upSkin: Embed(source='style/images/rclose.png');
	over-skin:Embed(source='style/images/rclose.png');
	down-skin:Embed(source='style/images/rclose.png');
}

.fileBtn
{
	upSkin: Embed(source='style/images/file.png');
	over-skin:Embed(source='style/images/file.png');
	down-skin:Embed(source='style/images/file.png');
}
.surechgBtn
{
	upSkin: Embed(source='style/images/surechg.png');
	over-skin:Embed(source='style/images/surechg.png');
	down-skin:Embed(source='style/images/surechg.png');
}
.delBtn
{
	upSkin: Embed(source='style/images/del.png');
	over-skin:Embed(source='style/images/del.png');
	down-skin:Embed(source='style/images/del.png');
}
.eyeBtn
{
	upSkin: Embed(source='style/images/eyeclose.png');
	over-skin:Embed(source='style/images/eyeclose.png');
	down-skin:Embed(source='style/images/eyeclose.png');
	
	selected-up-skin:Embed(source='style/images/eyeopen.png');
	selected-over-skin:Embed(source='style/images/eyeopen.png');
	selected-down-skin:Embed(source='style/images/eyeopen.png');
}


